[package]
name = "onebrc"
version = "0.1.0"
edition = "2021"


[profile.release]
lto = "fat"
panic = "abort"
debug = true

[dependencies]
memmap2 = "0.9.4"

[dev-dependencies]
pretty_assertions = "1.4.0"
